</hr>
<footer class="footer">
  <div class="container fixed-bottom">

    <div class="row">

      <div class="col">
        <ul class="contacts">
          <li><a href="{{ site.url }}">{{ site.title }}</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col">
        <ul class="social-media">
          <li> <a href="https://github.com/{{ site.github_username }}">My Github</a> </li>
          <li> <a href="https://linkedin.com/{{ site.linkedin_username }}">My LinkedIn</a></li>
        </ul>
      </div>

      <div class="col">
        <p class="text">{{ site.description }}</p>
      </div>

    </div>
  </div>
</footer>
